In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [2]:
import os
os.chdir("/content/gdrive/My Drive/")

In [3]:
import pandas as pd

csv_file = '/content/gdrive/My Drive/112-2LATIA/week2/112_student.csv'

df = pd.read_csv(csv_file, encoding='utf-8')

#columns = [
#    "學年度","學校代碼","學校名稱","日間∕進修別","等級別","總計","男生計",
#    "女生計","一年級男","一年級女","二年級男","二年級女","三年級男","三年級女",
#    "四年級男","四年級女","五年級男","五年級女","六年級男","六年級女",
#    "七年級男","七年級女","延修生男","延修生女","縣市名稱","體系別"
#]
df = pd.read_csv(csv_file, encoding='utf-8')
#print(df.head())

#查看資料欄位資訊
print(df.info(verbose=True, show_counts=True))

#查看資料的統計學資訊描述
#print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB
None

# 1. 哪間大專院校有最多的學士生

In [28]:
df1 = df[['總計']] # 取出想要觀看的欄位
print("本資料集共有", len(df1), "筆紀錄")

df1_1 = df1[df['等級別'] == 'B 學士']
print("有招生學士學制的學校數量為", df1_1, "\n")
df1_1_sorted = df1_1.sort_values(by = "總計", ascending = False)
print("112學年度在籍的學士生最多人數之學校為", df1_1_sorted.head(1)["總計"].values[0])

本資料集共有 764 筆紀錄
有招生學士學制的學校數量為         總計
3     9763
7     9274
12   17323
16    8503
20   12159
..     ...
702    799
733    749
738     51
739     19
763   5275

[97 rows x 1 columns]

112學年度在籍的學士生最多人數之學校為 19466

# 2. 國立？所；私立？所

In [36]:
type_list = [] # 建立空字串

for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('國立')
    else:
        type_list.append('私立')

df['公私立'] = type_list # 將 Dataframe 新增「公私立」column

df2 = df.drop_duplicates('學校名稱')
count = df2['公私立'].value_counts()

print(df2)
print(f"本資料集共收集了 {len(df2)} 所學校，其中公立：{count['國立']} 所；私立：{count['私立']} 所。")

     學年度  學校代碼        學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  \
0    112     1      國立政治大學    D 日  D 博士   921   517   404    86    69  ...
4    112     2      國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...
9    112     3      國立臺灣大學    D 日  D 博士  3654  2454  1200   431   215  ...
13   112     4    國立臺灣師範大學    D 日  D 博士  1337   630   707   106   127  ...
17   112     5      國立成功大學    D 日  D 博士  1888  1228   660   219   136  ...
..   ...   ...         ...    ...   ...   ...   ...   ...   ...   ...  ...
753  112  1289  育英醫護管理專科學校    D 日  5 五專  1833   200  1633    39   343  ...
754  112  1291  聖母醫護管理專科學校    D 日  2 二專     2     2     0     0     0  ...
757  112  1292  新生醫護管理專科學校    N 修  2 二專    79    12    67     7    37  ...
759  112  1293  崇仁醫護管理專科學校    D 日  5 五專  3017   460  2557   112   515  ...
760  112  3002      臺北市立大學    D 日  D 博士   208    94   114    17    11  ...

     五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別  公私立
0      52    68    37    66    50     0     0  30 臺北市  1 一般   國立
4      60   110    50   115    56     0     0  18 新竹市  1 一般   國立
9     128   179   106   312   132     0     0  30 臺北市  1 一般   國立
13     83    59    85    87    89     0     0  30 臺北市  3 師範   國立
17     84   107    57   110    48     0     0  21 臺南市  1 一般   國立
..    ...   ...   ...   ...   ...   ...   ...     ...   ...  ...
753   276     0     0     0     0    13    77  50 高雄市  2 技職   私立
754     0     0     0     0     0     2     0  02 宜蘭縣  2 技職   私立
757     0     0     0     0     0     0     1  03 桃園市  2 技職   私立
759   529     0     0     0     0    19    45  10 嘉義縣  2 技職   私立
760    14     6     9    16    25     0     0  30 臺北市  1 一般   國立

[145 rows x 27 columns]
本資料集共收集了 145 所學校，其中公立：47 所；私立：98 所。

# 3. 各等級別學制共有？所

In [47]:

df3 = df.drop_duplicates(subset=['學校名稱', '等級別'])
count = df3['等級別'].value_counts()
degree_list = list(df['等級別'].unique())

print(f"本資料集總共收集了 {len(set(df3['學校名稱']))} 所學校，各等級學制當中：")
for degree in degree_list:
    print(f"一共有{count[degree]} 所學校， 有招收{degree}。")

本資料集總共收集了 145 所學校，各等級學制當中：
一共有84 所學校， 有招收D 博士。
一共有130 所學校， 有招收M 碩士。
一共有67 所學校， 有招收B 學士。
一共有1 所學校， 有招收X 4+X。
一共有71 所學校， 有招收C 二技。
一共有66 所學校， 有招收B 四技。
一共有46 所學校， 有招收5 五專。
一共有2 所學校， 有招收5 七年。
一共有46 所學校， 有招收2 二專。
一共有1 所學校， 有招收C 二年制。

# 4.博士生有幾人

In [50]:
doctoral_students = df[df['等級別'] == 'D 博士']['總計'].sum()
print("博士生共有", doctoral_students, "人")

doctoral_students = df[df['等級別'] == 'D 博士']
school_doctoral_counts = doctoral_students.groupby('學校名稱')['總計'].sum()
print(school_doctoral_counts)

博士生共有 28504 人
學校名稱
世新大學       81
中原大學      332
中國文化大學    494
中國醫藥大學    416
中山醫學大學    165
         ...
長庚大學      454
長榮大學       46
靜宜大學       61
馬偕醫學院      12
高雄醫學大學    309
Name: 總計, Length: 84, dtype: int64